# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a3a9fc02083b4eeefaec.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d1413c1c3652d1aabbde.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-02483ee580bed38e138a.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b0496da80dff97fa305e.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-02-12T09-20-36-0157.json
cmake-build-debug/.cmake/api/v1/reply/target-Sports_fields_Team_Project-Debug-375e06d33b5b818bfd49.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-02-12T18-48-47-0938.json
cmake-build-debug/.cmake/api/v1/reply/target-Sports_fields_Team_Project-Debug-567125f0a0a7e4ca345a.json
cmake-build-debug/.idea/cmake-build-debug.iml
cmake-build-debug/.idea/modules.xml
cmake-build-debug/.idea/misc.xml
cmake-build-debug/.idea/vcs.xml
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/build.make
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/objects1.rsp
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/progress.make
cmake-build-debug/Makefile
cmake-build-debug/Sports_fields_Team_Project.cbp
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d1413c1c3652d1aabbde.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-02483ee580bed38e138a.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-02-12T09-20-36-0157.json
cmake-build-debug/.cmake/api/v1/reply/target-Sports_fields_Team_Project-Debug-567125f0a0a7e4ca345a.json
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/build.make
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/objects1.rsp
cmake-build-debug/CMakeFiles/Sports_fields_Team_Project.dir/progress.make
cmake-build-debug/Makefile
cmake-build-debug/Sports_fields_Team_Project.cbp
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
